@import "var.scss";
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    width: 1500px;
    height: 800px;
    perspective: 2000px;

    #part1 {
        z-index: 100;
        position: absolute;
        height: 60%;
        width: 80%;
        overflow: hidden;
        transition:0.7s ease;
        @include dot;
        &:hover {
          transition:0.7s ease;
          transform: translateX(20px);
        }

        .shape {
          position: absolute;
          z-index: 1;
          left:5%;
          width: 100px;
          height: 100%;
          background:#fff;
          transform:skew(-10deg);
        }

        .background-part1 {
            position: absolute;
            left: 10%;
            width: 100%;
            height: 100%;
            background: url('https://unsplash.it/960/440/?gravity=west') no-repeat;
            background-size: cover;
        }

    }

    #part2 {
        position: absolute;
        right: 25px;
        z-index: 90;
        height: 60%;
        width: 80%;
        overflow: hidden;
        transform: translateZ(-150px);
        transform-style: preserve-3d;
        transition:0.7s ease;

        &:hover {
          transition:0.7s ease;
          transform: translateX(20px) translateZ(-150px);
        }

        .shape {
          position: absolute;
          z-index: 1;
          left:5%;
          width: 100px;
          height: 100%;
          background:#fff;
          transform:skew(-10deg);
        }

        .background-part2 {
            position: absolute;
            left: 10%;
            width: 100%;
            height: 100%;
            background: url('https://unsplash.it/960/440?image=1068') no-repeat;
            background-size: cover;
        }
    }

    #part3 {
        position: absolute;
        right: -75px;
        z-index: 80;
        height: 60%;
        width: 80%;
        overflow: hidden;
        transform:translateZ(-300px);
        transform-style: preserve-3d;
        transition:0.7s ease;
        &:hover {
          transition:0.7s ease;
          transform: translateX(20px) translateZ(-300px);
        }

        .shape {
          position: absolute;
          z-index: 1;
          left:5%;
          width: 100px;
          height: 100%;
          background:#fff;
          transform:skew(-10deg);
        }

        .background-part3 {
            position: absolute;
            left: 10%;
            width: 100%;
            height: 100%;
            background: url('https://unsplash.it/960/440?image=1069') no-repeat;
            background-size: cover;
        }
    }

    #part4 {
        position: absolute;
        right: -175px;
        z-index: 70;
        height: 60%;
        width: 80%;
        overflow: hidden;
        transform: translateZ(-450px);
        transform-style: preserve-3d;
        transition:0.7s ease;
        &:hover {
          transition:0.7s ease;
          transform: translateX(20px) translateZ(-450px);
        }

        .shape {
          position: absolute;
          z-index: 1;
          left:5%;
          width: 100px;
          height: 100%;
          background:#fff;
          transform:skew(-10deg);
        }

        .background-part4 {
            position: absolute;
            left: 10%;
            width: 100%;
            height: 100%;
            background: url('https://unsplash.it/960/440?image=1056') no-repeat;
            background-size: cover;
        }
    }
}
