body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

#parallelogram_right {
  z-index: 10;
  height: 100vh;
  width: 75%;
  right: 0;
  position: absolute;
  z-index: 1;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 0%, #ffffff 0%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 0%, #ffffff 0%, #ffffff 100%);
  background: linear-gradient(to right, #ffffff 0%, #ffffff 0%, #ffffff 0%, #ffffff 100%);
  float: right; }
  #parallelogram_right span {
    display: inline-block;
    width: 0;
    height: 0;
    display: none; }
  #parallelogram_right .move {
    transition: 1s ease; }

.element_right {
  position: absolute;
  height: 100vh;
  width: 75%;
  right: -10%;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: -webkit-linear-gradient(left, #011a67 0%, #011a67 0%, #011a67 0%, #011a67 100%);
  background: -o-linear-gradient(left, #011a67 0%, #011a67 0%, #011a67 0%, #011a67 100%);
  background: linear-gradient(to right, #011a67 0%, #011a67 0%, #011a67 0%, #011a67 100%);
  float: right; }

#parallelogram_right_shadow {
  z-index: 20;
  position: absolute;
  height: 100vh;
  width: 75%;
  right: 0;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  float: right; }
  #parallelogram_right_shadow span {
    display: inline-block;
    width: 0;
    height: 0;
    display: none; }
  #parallelogram_right_shadow .move {
    transition: 1s ease; }

#parallelogram_left {
  z-index: 10;
  height: 100vh;
  width: 50%;
  left: -15%;
  position: absolute;
  z-index: 1;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 0%, #ffffff 0%, #ffffff 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #ffffff 0%, #ffffff 0%, #ffffff 100%);
  background: linear-gradient(to right, #ffffff 0%, #ffffff 0%, #ffffff 0%, #ffffff 100%);
  float: left; }
  #parallelogram_left span {
    display: inline-block;
    width: 0;
    height: 0;
    display: none; }

.element_left {
  position: absolute;
  height: 100vh;
  width: 50%;
  left: -15%;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: -webkit-linear-gradient(left, #011a67 0%, #011a67 0%, #011a67 0%, #011a67 100%);
  background: -o-linear-gradient(left, #011a67 0%, #011a67 0%, #011a67 0%, #011a67 100%);
  background: linear-gradient(to right, #011a67 0%, #011a67 0%, #011a67 0%, #011a67 100%);
  float: left; }

#parallelogram_left_shadow {
  z-index: 20;
  position: absolute;
  height: 100vh;
  width: 50%;
  left: -15%;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  float: left; }
  #parallelogram_left_shadow span {
    display: inline-block;
    width: 0;
    height: 0;
    display: none; }

.click {
  position: absolute;
  background: #FFF;
  z-index: 1000000000; }

.back {
  position: absolute;
  top: 20px;
  background: #FFF;
  z-index: 1000000000; }
