body {
  margin: 0;
  padding: 0;
  overflow: hidden; }

.overlay_bg {
  z-index: 10;
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("https://unsplash.it/1920/1080/?random"); }

.final_img {
  position: relative;
  height: 100vh;
  width: 100%;
  transition: 1s;
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0)), url("https://unsplash.it/1920/1080/?photo=RRNbMiPmTZY"); }

.overlay_up {
  z-index: 100;
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("https://unsplash.it/1920/1080/?random"); }

#parallelogram_right {
  position: absolute;
  height: 100vh;
  width: 75%;
  right: 0;
  float: right;
  -webkit-transform: skew(31deg);
  -moz-transform: skew(31deg);
  -o-transform: skew(31deg);
  transform: skew(31deg);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  z-index: 20; }
  #parallelogram_right span {
    background: url("https://unsplash.it/1920/1080/?random"); }

.close_video {
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 320px 0;
  border-color: transparent #011a67 transparent transparent; }

.element_right {
  position: absolute;
  height: 100vh;
  width: 75%;
  right: 0;
  float: right;
  -webkit-transform: skew(31deg);
  -moz-transform: skew(31deg);
  -o-transform: skew(31deg);
  transform: skew(31deg);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  right: -10%; }

#parallelogram_right_shadow {
  position: absolute;
  height: 100vh;
  width: 75%;
  right: 0;
  float: right;
  -webkit-transform: skew(31deg);
  -moz-transform: skew(31deg);
  -o-transform: skew(31deg);
  transform: skew(31deg);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  z-index: 20; }
  #parallelogram_right_shadow span {
    display: inline-block;
    width: 0;
    height: 0;
    display: none; }

#parallelogram_left {
  position: absolute;
  height: 100vh;
  width: 50%;
  left: -15%;
  float: left;
  -webkit-transform: skew(31deg);
  -moz-transform: skew(31deg);
  -o-transform: skew(31deg);
  transform: skew(31deg);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  z-index: 10; }
  #parallelogram_left span {
    display: inline-block;
    width: 0;
    height: 0;
    display: none; }

.element_left {
  position: absolute;
  height: 100vh;
  width: 50%;
  left: -15%;
  float: left;
  -webkit-transform: skew(31deg);
  -moz-transform: skew(31deg);
  -o-transform: skew(31deg);
  transform: skew(31deg);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%); }

#parallelogram_left_shadow {
  z-index: 20;
  position: absolute;
  height: 100vh;
  width: 50%;
  left: -15%;
  float: left;
  -webkit-transform: skew(31deg);
  -moz-transform: skew(31deg);
  -o-transform: skew(31deg);
  transform: skew(31deg);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0) 100%); }
  #parallelogram_left_shadow span {
    display: inline-block;
    width: 0;
    height: 0;
    display: none; }

.click {
  top: 0px;
  position: absolute;
  background: #FFF;
  z-index: 1000000000; }

.back {
  position: absolute;
  top: 20px;
  background: #FFF;
  z-index: 1000000000; }
