@font-face {
    font-family: 'gt_walsheim_prolight';
    src: url('../font/gt-walsheim-light-webfont.woff2') format('woff2'),
         url('../font/gt-walsheim-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
