body {
    margin: 0;
    padding: 0;
}
.ytcontainer {
    height: 100vh;
    width: 100%;
    position: relative;
    transition:1s ease;
    .part_right {
        position: absolute;
        width: 50%;
        height: 100%;
        background: black;
        right: 0;
              transform-origin: right;
    }
    .hide_part_right {
      transition: 1s ease;
      transform: scaleX(0);

    }
    .part_left {
        position: absolute;
        width: 50%;
        height: 100%;
        background: black;
              transform-origin: left;
    }
    .hide_part_left {
      transition: 1s ease;
      transform: scaleX(0);

    }
}

.show_video {
  transform:translateY(0%);
}
.hide_video {
  transform:translateY(-110%);
}
